# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
*.log

# Environment variables
.env

# React / Node
node_modules/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db